<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport"/>

    <style type="text/css">
        body {
            font: 14px/150% microsoft yahei, tahoma;
        }

        .clear {
            clear: both
        }

        .RadioStyle input {
            display: none
        }

        .RadioStyle label {
            border: 1px solid #CCC;
            color: #666;
            padding: 2px 10px 2px 5px;
            line-height: 28px;
            min-width: 80px;
            text-align: center;
            float: left;
            margin: 2px;
            border-radius: 4px
        }

        .RadioStyle input:checked + label {
            background: url(http://127.0.0.1:8081/static/images/ico_checkon.svg) no-repeat right bottom;
            border: 1px solid #00a4ff;
            background-size: 21px 21px;
            color: #00a4ff
        }

        .RadioStyle input:disabled + label {
            opacity: 0.7;
        }
    </style>
    <title>通用表格数据导出工具</title>
    <link rel="shortcut icon" href="http://127.0.0.1:8081/static/images/favicon.ico" type="images/x-icon">
    <link rel="stylesheet" href="http://127.0.0.1:8081/static/css/jquery-ui.css">
    <link rel="stylesheet" href="http://127.0.0.1:8081/static/css/style.css">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
</head>
<body>
<h2 style="text-align: center">通用表格数据导出工具</h2>
<h6 style="text-align: center">提示：不勾选导出所有表字段</h6>
<div class="container" style="text-align: center">
    <div class="col-xs-2">
        <input type="text" class="form-control" id="sftpUser" placeholder="用户名">
    </div>
    <div class="col-xs-2">
        <input type="password" class="form-control" id="sftpPwd" placeholder="密码">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control" id="sftpDir" placeholder="目录">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control" id="sftphost" placeholder="地址">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control" id="sftpPort" placeholder="端口">
    </div>
    <div class="col-xs-2">
        <button type="button" onclick="doCheck()" class="btn btn-default">连接测试</button>
    </div>
    <div style="padding-top: 50px">
        <table class="table table-hover table-expandable table-striped table-bordered">
            <thead>
            <tr>
                <th style="text-align: center">表名称</th>
                <th style="text-align: center">表字段</th>
                <th style="text-align: center" width="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        doTabList();
    });

    function doCheck(tabName) {
        var dir = $("#sftpDir").val();
        var username = $("#sftpUser").val();
        var host = $("#sftphost").val();
        var port = $("#sftpPort").val();
        var pwd = $("#sftpPwd").val();
        $.ajax({
            url: "http://localhost:8081/excel/check",
            type: "post",
            cache: false,
            dataType: 'text',
            data: {dir: dir, username: username, host: host, port: port, pwd: pwd},
            success: function (result) {
                alert(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("服务异常：" + textStatus);
            }
        });
    }

    function doTab(tabName) {
        var arr = [];
        $("input[name='" + tabName + "']:checked").each(function (i) {
            arr.push($(this).val());
        });
        $.ajax({
            url: "http://localhost:8081/excel/export",
            type: "post",
            cache: false,
            dataType: 'json',
            data: {tableName: tabName, colums: arr},
            success: function (result) {
                alert("上传数据成功，具体数据为：" + JSON.stringify(result));
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("服务异常：" + textStatus);
            }
        });
    }

    function doDown(tabName) {
        var urlString = "http://localhost:8081/excel/down?fileName=" + tabName;
        $("input[name='" + tabName + "']:checked").each(function (i) {
            urlString += "&colums=" + $(this).val();
        });
        window.open(urlString)
    }

    function doUp(tabName) {
        var arr = [];
        $("input[name='" + tabName + "']:checked").each(function (i) {
            arr.push($(this).val());
        });
        var dir = $("#sftpDir").val();
        var username = $("#sftpUser").val();
        var host = $("#sftphost").val();
        var port = $("#sftpPort").val();
        var pwd = $("#sftpPwd").val();
        $.ajax({
            url: "http://localhost:8081/excel/upload",
            type: "post",
            cache: false,
            dataType: 'text',
            data: {tableName: tabName, colums: arr, dir: dir, username: username, host: host, port: port, pwd: pwd},
            success: function (result) {
                alert(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("服务异常：" + textStatus);
            }
        });
    }

    function doTabList() {
        $.ajax({
            url: "http://localhost:8081/excel/list",
            type: "get",
            // traditional: true,
            success: function (result) {
                for (var data in result) {
                    $(".table").append("<tr id='" + result[data].tableName + "'><td>" + result[data].tableName + "</td>" +
                        "<td><div class='RadioStyle'><div id='" + result[data].tableName + "colum' class='Block PaddingL'><ul class='sortable' style='margin-bottom: 0!important;'></ul></div></div></td>" +
                        "<td><button type='button' class='btn btn-info' onclick='doTab(\"" + result[data].tableName + "\")'>预览</button>" +
                        "<button type='button' style='margin-inline: 15px;' class='btn btn-success' onclick='doDown(\"" + result[data].tableName + "\")'>下载</button>" +
                        "<button type='button' class='btn btn-primary' onclick='doUp(\"" + result[data].tableName + "\")'>上传</button></td></tr>");
                    let columRow = $("#" + result[data].tableName + "colum > ul");
                    for (var colum in result[data].colms) {
                        columRow.append(
                            "<li class='colum_list'>" +
                            "<input type='checkbox' name='" + result[data].tableName + "' id='" + result[data].tableName + colum + "' value='" + colum + "'/>" +
                            "<label for='" + result[data].tableName + colum + "'>" + result[data].colms[colum] + "</label></li>");
                    }
                    columRow.sortable({
                        start: function (event, ui) {

                        },
                        stop: function (event, ui) {
                            //结束时触发
                            console.count("拖拽结束");
                        }
                    });
                }
            },
            // error: function (XMLHttpRequest, textStatus, errorThrown) {
            //     alert(textStatus, errorThrown);
            // }
        });
    }
</script>
</body>
</html>
