<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>微服务综合能力平台</title>
  <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="images/x-icon">
  <link rel="stylesheet" href="/static/jquery-tab/js/waves-0.7.5/waves.min.css">
  <link rel="stylesheet" href="/static/jquery-tab/css/jquery-tab.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">综合能力微服务平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">cmcc</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav" id="nav">
            <li><a href="javascript:;" data-url="/excel/index">上传数据管理</a></li>
            <li><a href="javascript:;" data-url="/sftp/index">文件服务管理</a></li>
          </ul>
        </div>
        <div class="col-sm-9  col-md-10 main">
              <div id="tab-container"></div>
        </div>
      </div>
    </div>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/static/jquery-tab/js/waves-0.7.5/waves.min.js"></script>
<script src="/static/jquery-tab/js/BootstrapMenu/BootstrapMenu.min.js"></script>
<script src="/static/jquery-tab/js//jquery-tab.js"></script>
<script>
    $(function() {
      $("#tab-container").tab({
        homeUrl: "/excel/index", // 首页地址
        homeName: "上传数据管理",  // tab 栏标题名
        bottom: 175, // 距离底部高度
        tabCallback: function(url, tab) {  // 点击 tab 后的回调函数
              console.log(url); //  tab 对应的页面 url
              console.log(tab); //  tab 元素
        }
      });
    });
</script>
</body>
</html>
