<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>微服务综合能力平台</title>
  <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
  <link rel="shortcut icon" th:href="#{res_url}+'/static/images/favicon.ico'" type="images/x-icon">
  <link rel="stylesheet" th:href="#{res_url}+'/static/jquery-tab/js/waves-0.7.5/waves.min.css'">
  <link rel="stylesheet" th:href="#{res_url}+'/static/jquery-tab/css/jquery-tab.css'">
  <link th:href="#{res_url}+'/static/jQuery-nav/css/jquery-accordion-menu.css'" rel="stylesheet" type="text/css" />
  <link th:href="#{res_url}+'/static/jQuery-nav/css/font-awesome.css'" rel="stylesheet" type="text/css" />
  <script th:src="#{res_url}+'/static/jQuery-nav/js/jquery-1.11.2.min.js'" type="text/javascript"></script>
  <script th:src="#{res_url}+'/static/jQuery-nav/js/jquery-accordion-menu.js'" type="text/javascript"></script>
</head>
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

  });

  $(function(){
    //顶部导航切换
    $("#nav li").click(function(){
      $("#nav li.active").removeClass("active");
      $(this).addClass("active");
    })
  })
</script>
<style type="text/css">
  .filterinput{
    background-color:rgba(249, 244, 244, 0);
    border-radius:15px;
    width:90%;
    height:30px;
    border:thin solid #222222;
    text-indent:0.5em;
    font-weight:bold;
    color: #0a0a0a;
  }
  #nav a{
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
  }
</style>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">微服务综合能力平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">cmcc</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
            <div class="jquery-accordion-menu-header" id="form"></div>
            <ul id="nav">
              <li><a href="javascript:;" data-url="https://blog.liudongyang.top/"><i class="fa fa-user"></i> 个人主页</a></li>
              <li><a href="javascript:;"><i class="fa fa-suitcase"></i> 通用表格数据导出服务</a>
                <ul class="submenu">
                  <li><a href="javascript:;" th:data-url="#{server_url}+'/excel/index'">上传数据管理</a></li>
                  <li><a href="javascript:;" th:data-url="#{server_url}+'/sftp/index'">文件服务管理</a></li>
                  <li><a href="javascript:;" data-url="http://localhost:8083">定时任务管理</a></li>
                </ul>
              </li>
              <li><a href="javascript:;"><i class="fa fa-home"></i> 综合爬取网站数据服务</a>
                <ul class="submenu">
                  <li><a href="javascript:;" data-url="http://nacos.liudongyang.top:8080/">爬取网站</a></li>
                  <li><a href="javascript:;" data-url="http://nacos.liudongyang.top:8080/task/">短信验证码服务</a></li>
                </ul>
              </li>
              </ul>
            <div class="jquery-accordion-menu-footer">
              cmcc
            </div>
          </div>
<!--          <ul class="nav" id="nav">-->
<!--            <li><a href="javascript:;" data-url="/excel/index">上传数据管理</a></li>-->
<!--            <li><a href="javascript:;" data-url="/sftp/index">文件服务管理</a></li>-->
<!--          </ul>-->
        </div>
        <div class="col-sm-9  col-md-10 main">
              <div id="tab-container"></div>
        </div>
      </div>
    </div>
<script th:src="#{res_url}+'/static/jquery-tab/js/waves-0.7.5/waves.min.js'"></script>
<script th:src="#{res_url}+'/static/jquery-tab/js/BootstrapMenu/BootstrapMenu.min.js'"></script>
<script th:src="#{res_url}+'/static/jquery-tab/js/jquery-tab.js'"></script>
<script th:inline="javascript">
  let server_url = [[#{server_url}]];
    $(function() {
      $("#tab-container").tab({
        homeUrl: server_url+"/excel/home", // 首页地址
        homeName: "首页-服务介绍",  // tab 栏标题名
        bottom: 175, // 距离底部高度
        tabCallback: function(url, tab) {  // 点击 tab 后的回调函数
              console.log(url); //  tab 对应的页面 url
              console.log(tab); //  tab 元素
        }
      });
    });
</script>

  <script type="text/javascript">
    (function($) {
      $.expr[":"].Contains = function(a, i, m) {
        return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
      };
      function filterList(header, list) {
        //@header 头部元素
        //@list 无需列表
        //创建一个搜素表单
        var form = $("<form>").attr({
          "class":"filterform",
          action:"#"
        }), input = $("<input>").attr({
          "class":"filterinput",
          type:"text"
        });
        $(form).append(input).appendTo(header);
        $(input).change(function() {
          var filter = $(this).val();
          if (filter) {
            $matches = $(list).find("a:Contains(" + filter + ")").parent();
            $("li", list).not($matches).slideUp();
            $matches.slideDown();
          } else {
            $(list).find("li").slideDown();
          }
          return false;
        }).keyup(function() {
          $(this).change();
        });
      }
      $(function() {
        filterList($("#form"), $("#nav"));
      });
    })(jQuery);
  </script>
</body>
</html>
