<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport"/>

    <style type="text/css">
        body {
            font: 14px/150% microsoft yahei, tahoma;
        }

        .clear {
            clear: both
        }

        .RadioStyle input {
            display: none
        }

        .RadioStyle label {
            border: 1px solid #CCC;
            color: #666;
            padding: 2px 10px 2px 5px;
            line-height: 28px;
            min-width: 80px;
            text-align: center;
            float: left;
            margin: 2px;
            border-radius: 4px
        }

        .RadioStyle input:checked + label {
            background: url(/static/images/ico_checkon.svg) no-repeat right bottom;
            border: 1px solid #00a4ff;
            background-size: 21px 21px;
            color: #00a4ff
        }

        .RadioStyle input:disabled + label {
            opacity: 0.7;
        }
    </style>
    <title>通用表格数据导出工具</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="images/x-icon">
    <link rel="stylesheet" href="/static/loaders/css/style.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
    <script src="/static/loaders/js/js.js"></script>
</head>
<body style="background-color: #fff0">
<div class="container" style="text-align: center">
    <div class="col-xs-2" style="padding-top: 10px">
        <input type="text" class="form-control" id="sftpUser" placeholder="用户名">
    </div>
    <div class="col-xs-2" style="padding-top: 10px">
        <input type="password" class="form-control" id="sftpPwd" placeholder="密码">
    </div>
    <div class="col-xs-2" style="padding-top: 10px">
        <input type="text" class="form-control" id="sftpDir" placeholder="目录">
    </div>
    <div class="col-xs-2" style="padding-top: 10px">
        <input type="text" class="form-control" id="sftphost" placeholder="地址">
    </div>
    <div class="col-xs-2" style="padding-top: 10px">
        <input type="text" class="form-control" id="sftpPort" placeholder="端口">
    </div>
    <div class="col-xs-2" style="padding-top: 10px">
        <button type="button" onclick="doCheck()" class="btn btn-default">
            测试服务
        </button>
    </div>

    <div class="col-xs-2" style="padding-top: 10px">
        <select id="tableName" name="role" class="form-control selectpicker" title="请选择表名">
        </select>
    </div>
    <div class="col-xs-8" style="padding-top: 10px">
        <input type="text" class="form-control" id="sftpSql" placeholder="SQL">
    </div>
    <div class="col-xs-2" style="padding-top: 10px">
        <button type="button" onclick="doAdd()" class="btn btn-default">
            编辑新增
        </button>
    </div>

    <div style="padding-top: 100px">
        <table class="table table-hover table-expandable table-striped table-bordered">
            <thead>
            <tr>
                <th style="text-align: center">表名</th>
                <th style="text-align: center">用户名</th>
                <th style="text-align: center">密码</th>
                <th style="text-align: center">目录</th>
                <th style="text-align: center">地址</th>
                <th style="text-align: center">端口</th>
                <th style="text-align: center">SQL</th>
                <th style="text-align: center" width="15%">操作</th>
            </tr>
            </thead>
            <tbody id="tabBody">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="msgModal" style="align-content: center" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="msgModalLabel">
                    提示
                </h4>
            </div>
            <div class="modal-body" id="msgModalBody" style="text-align: center">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        doTabList();
        initSel();
    });

    let baseUrl = "";
    // let baseUrl = "http://nacos.liudongyang.top:8081";
    // let baseUrl = "http://localhost:8081";

    function initSel() {
        $.ajax({
            type: 'GET',
            url: baseUrl + '/excel/tabs',
            dataType: "json",
            success: function (data) {
                //拼接下拉框
                let tableName = $("#tableName");
                tableName.html("");
                for (var i in data) {
                    tableName.append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                }
            }
        });
    }

    function doAdd() {
        var tableName = $("#tableName").val();
        var dir = $("#sftpDir").val();
        var username = $("#sftpUser").val();
        var host = $("#sftphost").val();
        var port = $("#sftpPort").val();
        var pwd = $("#sftpPwd").val();
        var sql = $("#sftpSql").val();
        $.ajax({
            url: baseUrl + "/sftp/add",
            type: "post",
            cache: false,
            dataType: 'text',
            data: {
                tableName: tableName,
                sftpDir: dir,
                sftpUsername: username,
                sftpHost: host,
                sftpPort: port,
                sftpPwd: pwd,
                sftpSql: sql
            },
            beforeSend: function () {
                doload(1);
            },
            success: function (result) {
                doRemLoad();
                $("#msgModalBody").html(result);
                $("#msgModal").modal("show");
                doTabList();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                doRemLoad();
                $("#msgModalBody").html("服务异常：" + textStatus);
                $("#msgModal").modal("show");
            }
        });
    }

    function doCheck() {
        var dir = $("#sftpDir").val();
        var username = $("#sftpUser").val();
        var host = $("#sftphost").val();
        var port = $("#sftpPort").val();
        var pwd = $("#sftpPwd").val();
        $.ajax({
            url: baseUrl + "/excel/check",
            type: "post",
            cache: false,
            dataType: 'text',
            data: {dir: dir, username: username, host: host, port: port, pwd: pwd},
            beforeSend: function () {
                doload(1);
            },
            success: function (result) {
                doRemLoad();
                $("#msgModalBody").html(result);
                $("#msgModal").modal("show");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                doRemLoad();
                $("#msgModalBody").html("服务异常：" + textStatus);
                $("#msgModal").modal("show");
            }
        });
    }

    function doFill(params) {
        var tableName = $("#tableName");
        let sftpDir = $("#sftpDir");
        let sftpUsername = $("#sftpUser");
        let sftpHost = $("#sftphost");
        let sftpPort = $("#sftpPort");
        let sftpPwd = $("#sftpPwd");
        let sftpSql = $("#sftpSql");
        let obj = eval('(' + params + ')');
        tableName.val(obj["tableName"]);
        sftpDir.val(obj["sftpDir"]);
        sftpUsername.val(obj["sftpUsername"]);
        sftpHost.val(obj["sftpHost"]);
        sftpPort.val(obj["sftpPort"]);
        sftpPwd.val(obj["sftpPwd"]);
        sftpSql.val(obj["sftpSql"]);
        var dir = sftpDir.val();
        var username = sftpUsername.val();
        var host = sftpHost.val();
        var port = sftpPort.val();
        var pwd = sftpPwd.val();
        $.ajax({
            url: baseUrl + "/excel/check",
            type: "post",
            cache: false,
            dataType: 'text',
            data: {dir: dir, username: username, host: host, port: port, pwd: pwd},
            beforeSend: function () {
                doload(1);
            },
            success: function (result) {
                doRemLoad();
                $("#msgModalBody").html(result);
                $("#msgModal").modal("show");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                doRemLoad();
                $("#msgModalBody").html("服务异常：" + textStatus);
                $("#msgModal").modal("show");
            }
        });
    }

    function doTabList() {
        var tableNameVal = $("#tableNameVal").val();
        $.ajax({
            url: baseUrl + "/sftp/list",
            type: "get",
            data: {tableName: tableNameVal},
            // traditional: true,
            beforeSend: function () {
                doload(4);
            },
            success: function (result) {
                doRemLoad();
                let table = $("#tabBody");
                table.html("");
                let count = 0;
                for (var data in result) {
                    table.append("<tr id='" + result[data].tableName + "'><td>" + result[data].tableName + "</td>" +
                        "<td>" + result[data].sftpUsername + "</td>" +
                        "<td>" + result[data].sftpPwd + "</td>" +
                        "<td>" + result[data].sftpDir + "</td>" +
                        "<td>" + result[data].sftpHost + "</td>" +
                        "<td>" + result[data].sftpPort + "</td>" +
                        "<td>" + ((result[data].sftpSql !== null)? result[data].sftpSql : '') + "</td>" +
                        "<td><button type='button' style='margin-inline: 5px;' class='btn btn-success' onclick='doFill(&apos;" + JSON.stringify(result[data]) + "&apos;)'>测试</button>" +
                        "<button type='button' style='margin-inline: 5px;' class='btn btn-danger' onclick='doDel(&apos;" + JSON.stringify(result[data]) + "&apos;)'>删除</button></td></tr>");
                    count += 1;
                }
                if (count === 0) {
                    table.html("<tr><td colspan='8'>未查询到数据</td></tr>");
                } else {
                    table.append("<tr><td colspan='8'>总记录数为" + count + "条</td></tr>");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                doRemLoad();
                $("#msgModalBody").html("服务异常：" + textStatus);
                $("#msgModal").modal("show");
            }
        });
    }

    function doDel(params) {
        let obj = eval('(' + params + ')');
        var dir = obj["sftpDir"];
        var username = obj["sftpUsername"];
        var host = obj["sftpHost"];
        var port = obj["sftpPort"];
        var pwd = obj["sftpPwd"];
        var sql = obj["sftpSql"];
        var tableName = obj["tableName"];
        $.ajax({
            url: baseUrl + "/sftp/del",
            type: "post",
            cache: false,
            dataType: 'text',
            data: {
                tableName: tableName,
                sftpDir: dir,
                sftpUsername: username,
                sftpHost: host,
                sftpPort: port,
                sftpPwd: pwd,
                sftpSql: sql
            },
            beforeSend: function () {
                doload(3);
            },
            success: function (result) {
                doRemLoad();
                $("#msgModalBody").html(result);
                $("#msgModal").modal("show");
                doTabList();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                doRemLoad();
                $("#msgModalBody").html("服务异常：" + textStatus);
                $("#msgModal").modal("show");
            }
        });
    }

    function doRemLoad() {
        let $active = $('.active');
        $active.removeClass();
        let button = $('button');
        button.removeClass('disabled');
        button.prop('disabled', false);
    }

    function doload(thisid) {
        let button = $('button');
        button.addClass('disabled');
        button.prop('disabled', true);
        let $loader = $('#spinners li[data-id="' + thisid + '"]');
        $loader.addClass('active');
    }
</script>
<div class="jq22-container">
    <ul id="spinners">
        <li class="" data-id="1">
            <div id="preloader_1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        <li data-id="2">
            <div id="preloader_2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        <li data-id="3">
            <div id="preloader_3"></div>
        </li>
        <li data-id="4">
            <div id="preloader_4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
